
/* Your CSS Code here. */
.holder {
    display: flex;
    font-size: 3rem;
    flex-wrap: wrap;
}

.item {
    background-color: green;
    width: 5rem;
    height: 5rem;
}

.item1 {
    background-color: red;
    width: 5rem;
    height: 5rem;
}

.item2 {
    background-color: blue;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    margin-left: 30%;
}